Part 7.8A (design and distribution requirements) and Part 7.9

(financial product disclosure), has a meaning affected by 
subsection 1010C(2); and
Authorised Version C2025C00450 registered 21/07/2025Introductory  Chapter 1
Interpretation  Part 1.2
General  Division 1

Part 7.8A (design and distribution requirements) and Part 7.9
Section 9

Corporations Act 2001 95
Compilation No. 143 Compilation date: 09/07/2025(c) the person who offers a security:
(i) (unless subparagraph (ii) applies) is the person who has 
the capacity, or who agrees, to issue or transfer the 
security if the offer is accepted; or
(ii) for the purposes of Chapter 8 (mutual recognition of 
securities offers), if the offer is an offer of a kind 
prescribed by the regulations for the purposes of this 
subparagraph—is a person of a kind prescribed by the 
regulations for the purposes of this subparagraph;
and that person is the offeror of the security.
Note: Section 1010C applies for the purposes of Part 7.8A: see 
subsection 994A(3).
offer information statement means an offer information statement 
that is lodged with ASIC.
offer of simple corporate bonds has the meaning given by 
section 713A.
offer period for a takeover bid is the period for which offers under 
the bid remain open.
offer platform, in relation to a CSF offer, has the meaning given by 
subsection 738L(6).
offer-specific prospectus, in relation to an offer of simple 
corporate bonds, has the meaning given by subsection 713D(1).
officer has the meaning given by section 9AD.
officer of the Commonwealth has the same meaning as in 
paragraph 75(v) of the Constitution.
official employment means:
(a) appointment or employment by the Commonwealth, or the 
performance of services for the Commonwealth; or
(b) the exercise of powers or performance of functions under a 
delegation by the Registrar.
Authorised Version C2025C00450 registered 21/07/2025Chapter 1  Introductory