Part 2H.6—Notice requirements 595
254X Notice to ASIC of share issue ........................................ 595

Part 2H.6—Notice requirements 595
254Y Notice to ASIC of share cancellation ............................. 596

Chapter 2J—Transactions affecting share capital 597