Part 7.8A—Design and distribution requirements relating to
Division 6—Miscellaneous 843
994M Civil liability................................................................... 843

Part 7.8A—Design and distribution requirements relating to
Division 6—Miscellaneous 843
994N Additional powers of court to make orders .................... 843

Part 7.8A—Design and distribution requirements relating to
Division 6—Miscellaneous 843
994P Orders to redress loss or damage suffered by

non-party consumers etc................................................. 844

Part 7.8A—Design and distribution requirements relating to
Division 6—Miscellaneous 843
994Q Kinds of orders that may be made to redress loss

or damage suffered by non-party consumers etc............ 846
Authorised Version C2025C00450 registered 21/07/2025Financial services and markets  Chapter 7
Preliminary  Part 7.1
Object of Chapter and outline of Chapter  Division 1

Part 7.8A—Design and distribution requirements relating to
Division 6—Miscellaneous 843
Section 760A

Corporations Act 2001 1
Compilation No. 143 Compilation date: 09/07/2025Chapter 7—Financial services and markets
Note: This Chapter applies to a CCIV in a modified form: see Division 4 of Part 8B.7.